<% provide(:title, "top") %>

<div class ="center jumbotron">
  <h1>勤怠システム</h1>
  <p><center><%= link_to "ログイン", login_path, class: "btn btn-md btn-primary" %></center></p>
  <p><center>アカウントの作成は<%= link_to "こちら", login_path %>から</center></p>
</div>
