<footer>
  <div class="footer-left">
    <span>The Ruby on Rails Tutorial by Micheal Hart</span>
  </div>

  <div class="footer-menu">
    <span><%= link_to "About", '#' %></span>
    <span><%= link_to "Contact", '#' %></span>
    <span><%= link_to "News", '#' %></span>
  </div>
</footer>